$container-width: 1320px;
$container-padding: 20px;

$barlow-font: 'Barlow', sans-serif;
$fraunces-font: 'Fraunces', serif;

$accent: #0E8784;
$btn-hover-color: #66D2CF;
$btn-active-color: #E2DEDB;
$nav-link-color: #83888F;
$footer-link-color: #83888F;
$text-color: #333D4B;
$white-text-color: #FEFCF7;
$white-secondary-text-color: rgba(254, 252, 247, .8);

$br: 1px solid red;